

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.tab_menu {
  top: 0;
  text-align: center;
}

.squash_div {
  padding-right: 5%;
  padding-left: 5%;
}

.page_title {
  color: #DA6713;
  font-weight: bold;
}
/*  ################
### Archive page
####################*/
.archive_table {
  padding-right: 5%;
  padding-left: 5%;
  margin-right: 5%;
}

table tbody {
  cursor: pointer;
}

.criteria_container {
  text-align: center;
  padding: 5px;
  margin-left: 5%;
}

.form-group {
  width: 10%;
}

h3 {
  margin: 5px;
}

.mag_input {
  width: 6%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid gray;
  text-align: center;
  padding: 0px;
}

.mag_input:focus {
  border-bottom: 3px solid #009587;
  border-left: none;
  border-right: none;
  border-top: none;
}

/*  Table sorting*/
.table_arrow_link {
  font-size: 19px;
  color: inherit;
}

.table_arrow_link:hover {
  color: white;
}

.btn_hide {
  display: none !important;
}

.btn_active {
  background-color: #009587 !important;
  color: white !important;
}

.go_right {
  align: right;
  right: 10px;
  float: right;
  margin: 10px;
}

.go_left {
  align: right;
  right: 10px;
  left: 10px;
  margin: 10px;
}

/*  ################
 ### Leaflet page
 ####################*/
#mapid {
  height: 700px;
  margin: 30px;
}

.double_map {
  height: 700px;
  margin: 10px;
}

.leaflet-tooltip.my-labels {
  background-color: transparent;
  color: black;
  padding: 0;
  border: transparent;
  box-shadow: none;
}

.epi_icon {
  color: red;
}

.legend {
  font-style: italic;
  color: gray;
}

.legend_table {
  color: black;
  font-size: 13px;
  line-height: 17px;
  padding: 0 !important;
}

/*  Placeholder styling */
::-webkit-input-placeholder {
  font-size: 12px;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 12px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px;
}

:-ms-input-placeholder {
  font-size: 12px;
}

/* ########### */
.input_text {
  color: gray;
}

/*  ################
 ### Analysis page
 ####################*/
div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  padding: 2px;
  font: 12px sans-serif;
  color: white;
  background: black;
  border: 1px;
  border-radius: 8px;
}

/*  ################
 ### Meta page
 ####################*/
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activeCol, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 10px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  text-align: left;
  font-size: 13px;
}


/* *** CODE ADDED TO MAKE THE EVENT LIST TABLE RESPONSIVE *** */
/* Got from: https://css-tricks.com/responsive-data-tables/ */
/* START */
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: left;
    overflow-wrap: break-word;

  }

  td:before {
    /* Now like a table header */
    /* position: absolute;*/ position: -ms-device-fixed;
    /* Top/left values mimic padding */
    top: 60px;
    left: 6px;
    font-weight: bold;
    font-family: "Lucida Console", Courier, monospace;
    text-align: left;
    width: 0px;
    padding-right: 5px;
    /* white-space: normal;
    word-wrap: break-word;*/
    white-space: pre-wrap;
  }

  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Event_id...."; }
  td:nth-of-type(2):before { content: "Year........"; }
  td:nth-of-type(3):before { content: "Month......."; }
  td:nth-of-type(4):before { content: "Day........."; }
  td:nth-of-type(5):before { content: "Time (HH:MM)"; }
  td:nth-of-type(6):before { content: "Location...."; }
  td:nth-of-type(7):before { content: "Depth (km).."; }
  td:nth-of-type(8):before { content: "Magnitude..."; }
}
/* END */


/* CODE ADDED TO MAKE THE NAVIGATION MENU CORRECTLY FORMATTED ALSO FOR MOBILE DEVICES */
/* Got from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav */

/* START */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 15px;
  height: 50px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* END */
